<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myNotifyLogLabel" jhiTranslate="emCloudWebApp.notifyLog.home.createOrEditLabel">Create or edit a Notify Log</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!notifyLog.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="notifyLog.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.notifyLog.mtid" for="field_mtid">Mtid</label>
            <input type="number" class="form-control" name="mtid" id="field_mtid"
                [(ngModel)]="notifyLog.mtid" required />
            <div [hidden]="!(editForm.controls.mtid?.dirty && editForm.controls.mtid?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.mtid?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.mtid?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.notifyLog.sendType" for="field_sendType">Send Type</label>
            <input type="number" class="form-control" name="sendType" id="field_sendType"
                [(ngModel)]="notifyLog.sendType" required />
            <div [hidden]="!(editForm.controls.sendType?.dirty && editForm.controls.sendType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sendType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.sendType?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.notifyLog.sendTarget" for="field_sendTarget">Send Target</label>
            <input type="text" class="form-control" name="sendTarget" id="field_sendTarget"
                [(ngModel)]="notifyLog.sendTarget" required maxlength="50" />
            <div [hidden]="!(editForm.controls.sendTarget?.dirty && editForm.controls.sendTarget?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sendTarget?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sendTarget?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.notifyLog.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                [(ngModel)]="notifyLog.content" required maxlength="200" />
            <div [hidden]="!(editForm.controls.content?.dirty && editForm.controls.content?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.content?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.content?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.notifyLog.status" for="field_status">Status</label>
            <input type="checkbox" class="form-control" name="status" id="field_status"
                [(ngModel)]="notifyLog.status"  />
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.notifyLog.readFlag" for="field_readFlag">Read Flag</label>
            <input type="number" class="form-control" name="readFlag" id="field_readFlag"
                [(ngModel)]="notifyLog.readFlag" required />
            <div [hidden]="!(editForm.controls.readFlag?.dirty && editForm.controls.readFlag?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.readFlag?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.readFlag?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.notifyLog.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="notifyLog.createdBy" required maxlength="20" />
            <div [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdBy?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdBy?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.notifyLog.createTime" for="field_createTime">Create Time</label>
            <div class="d-flex">
                <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="notifyLog.createTime"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.createTime?.dirty && editForm.controls.createTime?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createTime?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createTime?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.notifyLog.updateTime" for="field_updateTime">Update Time</label>
            <div class="d-flex">
                <input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime" [(ngModel)]="notifyLog.updateTime"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.updateTime?.dirty && editForm.controls.updateTime?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.updateTime?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.updateTime?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
