<div class="row">
    <div class="col-xxxl-3 col-xxl-4 col-lg-3 col-md-6">
        <eui-tree [data]="data" [(selection)]="selection" (selectionChange)="onSelectionChange($event)"
                  (nodeExpand)="onNodeExpand($event)"></eui-tree>
        <p *ngIf="selection">Selected: {{selection.text}}</p>
    </div>

    <div class="col-xxxl-9 col-xxl-8 col-lg-9 col-md-6">
        <div>
            <h2>
                <span jhiTranslate="emCloudWebApp.company.home.title">Companies</span>
                <button class="btn btn-primary float-right jh-create-entity create-company" [routerLink]="['/', { outlets: { popup: ['company-new'] } }]">
                    <span class="fa fa-plus"></span>
                    <span  jhiTranslate="emCloudWebApp.company.home.createLabel">
            Create new Company
            </span>
                </button>
            </h2>
            <jhi-alert></jhi-alert>
            <div class="row">
            </div>
            <br/>
            <div class="table-responsive" *ngIf="companies">
                <table class="table table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="companyLongName"><span jhiTranslate="emCloudWebApp.company.companyLongName">Company Long Name</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="companyName"><span jhiTranslate="emCloudWebApp.company.companyName">Company Name</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="parentCompanyName"><span jhiTranslate="emCloudWebApp.company.parentCompanyName">Parent Company Name</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="companyCode"><span jhiTranslate="emCloudWebApp.company.companyCode">Company Code</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="countryCode"><span jhiTranslate="emCloudWebApp.company.countryCode">Country Code</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="cityCode"><span jhiTranslate="emCloudWebApp.company.cityCode">City Code</span> <span class="fa fa-sort"></span></th>


                        <!--
                    <th jhiSortBy="addressCode"><span jhiTranslate="emCloudWebApp.company.addressCode">Address Code</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="addressName"><span jhiTranslate="emCloudWebApp.company.addressName">Address Name</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="telephone"><span jhiTranslate="emCloudWebApp.company.telephone">Telephone</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="legalPerson"><span jhiTranslate="emCloudWebApp.company.legalPerson">Legal Person</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="parentCompanyCode"><span jhiTranslate="emCloudWebApp.company.parentCompanyCode">Parent Company Code</span> <span class="fa fa-sort"></span></th><th jhiSortBy="levelId"><span jhiTranslate="emCloudWebApp.company.levelId">Level Id</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="remark"><span jhiTranslate="emCloudWebApp.company.remark">Remark</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="attachsNum"><span jhiTranslate="emCloudWebApp.company.attachsNum">Attachs Num</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="seqNo"><span jhiTranslate="emCloudWebApp.company.seqNo">Seq No</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="enable"><span jhiTranslate="emCloudWebApp.company.enable">Enable</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="createdBy"><span jhiTranslate="emCloudWebApp.company.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="createTime"><span jhiTranslate="emCloudWebApp.company.createTime">Create Time</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="updatedBy"><span jhiTranslate="emCloudWebApp.company.updatedBy">Updated By</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="updateTime"><span jhiTranslate="emCloudWebApp.company.updateTime">Update Time</span> <span class="fa fa-sort"></span></th>
                           -->
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let company of companies ;trackBy: trackId">
                        <td><a [routerLink]="['../company', company.id ]">{{company.id}}</a></td>
                        <td>{{company.companyLongName}}</td>
                        <td>{{company.companyName}}</td>
                        <td>{{company.parentCompanyName}}</td>
                        <td>{{company.companyCode}}</td>
                        <td>{{company.countryCode}}</td>
                        <td>{{company.cityCode}}</td>
                        <!--
                        <td>{{company.addressCode}}</td>
                        <td>{{company.addressName}}</td>
                        <td>{{company.telephone}}</td>
                        <td>{{company.legalPerson}}</td>
                        <td>{{company.parentCompanyCode}}</td>
                        <td>{{company.levelId}}</td>
                        <td>{{company.remark}}</td>
                        <td>{{company.attachsNum}}</td>
                        <td>{{company.seqNo}}</td>
                        <td>{{company.enable}}</td>
                        <td>{{company.createdBy}}</td>
                        <td>{{company.createTime | date:'medium'}}</td>
                        <td>{{company.updatedBy}}</td>
                        <td>{{company.updateTime | date:'medium'}}</td>
                        -->
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        [routerLink]="['../company', company.id ]"
                                        class="btn btn-info btn-sm">
                                    <span class="fa fa-eye"></span>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'company/'+ company.id + '/edit'} }]"
                                        replaceUrl="true"
                                        class="btn btn-primary btn-sm">
                                    <span class="fa fa-pencil"></span>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'company/'+ company.id + '/delete'} }]"
                                        replaceUrl="true"
                                        class="btn btn-danger btn-sm">
                                    <span class="fa fa-remove"></span>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Pager is not implemented yet, so this is normal pagination instead -->
            <div *ngIf="companies && companies.length">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
