<div>
    <h2>
        <span jhiTranslate="emCloudWebApp.alarmRule.home.title">Alarm Rules</span>
        <button class="btn btn-primary float-right jh-create-entity create-alarm-rule" [routerLink]="['/', { outlets: { popup: ['alarm-rule-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="emCloudWebApp.alarmRule.home.createLabel">
            Create new Alarm Rule
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="alarmRules">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ruleName"><span jhiTranslate="emCloudWebApp.alarmRule.ruleName">Rule Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ruleCode"><span jhiTranslate="emCloudWebApp.alarmRule.ruleCode">Rule Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ruleType"><span jhiTranslate="emCloudWebApp.alarmRule.ruleType">Rule Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="alarmLevel"><span jhiTranslate="emCloudWebApp.alarmRule.alarmLevel">Alarm Level</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="enable"><span jhiTranslate="emCloudWebApp.alarmRule.enable">Enable</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="emCloudWebApp.alarmRule.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createTime"><span jhiTranslate="emCloudWebApp.alarmRule.createTime">Create Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updatedBy"><span jhiTranslate="emCloudWebApp.alarmRule.updatedBy">Updated By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updateTime"><span jhiTranslate="emCloudWebApp.alarmRule.updateTime">Update Time</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alarmRule of alarmRules ;trackBy: trackId">
                <td><a [routerLink]="['../alarm-rule', alarmRule.id ]">{{alarmRule.id}}</a></td>
                <td>{{alarmRule.ruleName}}</td>
                <td>{{alarmRule.ruleCode}}</td>
                <td>{{alarmRule.ruleType}}</td>
                <td>{{alarmRule.alarmLevel}}</td>
                <td>{{alarmRule.enable}}</td>
                <td>{{alarmRule.createdBy}}</td>
                <td>{{alarmRule.createTime | date:'medium'}}</td>
                <td>{{alarmRule.updatedBy}}</td>
                <td>{{alarmRule.updateTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../alarm-rule', alarmRule.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'alarm-rule/'+ alarmRule.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'alarm-rule/'+ alarmRule.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="alarmRules && alarmRules.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
