<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAreaLabel" jhiTranslate="emCloudWebApp.area.home.createOrEditLabel">Create or edit a Area</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!area.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="area.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.area.areaCode" for="field_areaCode">Area Code</label>
            <input type="text" class="form-control" name="areaCode" id="field_areaCode"
                [(ngModel)]="area.areaCode" required maxlength="20" />
            <div [hidden]="!(editForm.controls.areaCode?.dirty && editForm.controls.areaCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.areaCode?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.areaCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.area.areaName" for="field_areaName">Area Name</label>
            <input type="text" class="form-control" name="areaName" id="field_areaName"
                [(ngModel)]="area.areaName" maxlength="100" />
            <div [hidden]="!(editForm.controls.areaName?.dirty && editForm.controls.areaName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.areaName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.area.zipCode" for="field_zipCode">Zip Code</label>
            <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                [(ngModel)]="area.zipCode" required maxlength="20" />
            <div [hidden]="!(editForm.controls.zipCode?.dirty && editForm.controls.zipCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.zipCode?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.zipCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.area.parentId" for="field_parentId">Parent Id</label>
            <input type="text" class="form-control" name="parentId" id="field_parentId"
                [(ngModel)]="area.parentId" required maxlength="10" />
            <div [hidden]="!(editForm.controls.parentId?.dirty && editForm.controls.parentId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.parentId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.parentId?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                   This field cannot be longer than 10 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.area.parentName" for="field_parentName">Parent Name</label>
            <input type="text" class="form-control" name="parentName" id="field_parentName"
                [(ngModel)]="area.parentName" maxlength="100" />
            <div [hidden]="!(editForm.controls.parentName?.dirty && editForm.controls.parentName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.parentName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.area.depth" for="field_depth">Depth</label>
            <input type="text" class="form-control" name="depth" id="field_depth"
                [(ngModel)]="area.depth" required maxlength="64" />
            <div [hidden]="!(editForm.controls.depth?.dirty && editForm.controls.depth?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.depth?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.depth?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 64 }">
                   This field cannot be longer than 64 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.area.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="area.createdBy" required maxlength="20" />
            <div [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdBy?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdBy?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.area.createTime" for="field_createTime">Create Time</label>
            <div class="d-flex">
                <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="area.createTime"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.createTime?.dirty && editForm.controls.createTime?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createTime?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createTime?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.area.updatedBy" for="field_updatedBy">Updated By</label>
            <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                [(ngModel)]="area.updatedBy" required maxlength="20" />
            <div [hidden]="!(editForm.controls.updatedBy?.dirty && editForm.controls.updatedBy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.updatedBy?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.updatedBy?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.area.updateTime" for="field_updateTime">Update Time</label>
            <div class="d-flex">
                <input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime" [(ngModel)]="area.updateTime"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.updateTime?.dirty && editForm.controls.updateTime?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.updateTime?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.updateTime?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
