<div>
    <h2>
        <span jhiTranslate="emCloudWebApp.meterRule.home.title">Meter Rules</span>
        <button class="btn btn-primary float-right jh-create-entity create-meter-rule" [routerLink]="['/', { outlets: { popup: ['meter-rule-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="emCloudWebApp.meterRule.home.createLabel">
            Create new Meter Rule
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="meterRules">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="meterCode"><span jhiTranslate="emCloudWebApp.meterRule.meterCode">Meter Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="meterName"><span jhiTranslate="emCloudWebApp.meterRule.meterName">Meter Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ruleCode"><span jhiTranslate="emCloudWebApp.meterRule.ruleCode">Rule Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ruleName"><span jhiTranslate="emCloudWebApp.meterRule.ruleName">Rule Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="enable"><span jhiTranslate="emCloudWebApp.meterRule.enable">Enable</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="emCloudWebApp.meterRule.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createTime"><span jhiTranslate="emCloudWebApp.meterRule.createTime">Create Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updatedBy"><span jhiTranslate="emCloudWebApp.meterRule.updatedBy">Updated By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updateTime"><span jhiTranslate="emCloudWebApp.meterRule.updateTime">Update Time</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let meterRule of meterRules ;trackBy: trackId">
                <td><a [routerLink]="['../meter-rule', meterRule.id ]">{{meterRule.id}}</a></td>
                <td>{{meterRule.meterCode}}</td>
                <td>{{meterRule.meterName}}</td>
                <td>{{meterRule.ruleCode}}</td>
                <td>{{meterRule.ruleName}}</td>
                <td>{{meterRule.enable}}</td>
                <td>{{meterRule.createdBy}}</td>
                <td>{{meterRule.createTime | date:'medium'}}</td>
                <td>{{meterRule.updatedBy}}</td>
                <td>{{meterRule.updateTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../meter-rule', meterRule.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'meter-rule/'+ meterRule.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'meter-rule/'+ meterRule.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="meterRules && meterRules.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
