<div>
    <h2>
        <span jhiTranslate="emCloudWebApp.meterCategoryInfo.home.title">Meter Category Infos</span>
        <button class="btn btn-primary float-right jh-create-entity create-meter-category-info" [routerLink]="['/', { outlets: { popup: ['meter-category-info-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="emCloudWebApp.meterCategoryInfo.home.createLabel">
            Create new Meter Category Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="meterCategoryInfos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="meterTypeCode"><span jhiTranslate="emCloudWebApp.meterCategoryInfo.meterTypeCode">Meter Type Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="meterType"><span jhiTranslate="emCloudWebApp.meterCategoryInfo.meterType">Meter Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dictCode"><span jhiTranslate="emCloudWebApp.meterCategoryInfo.dictCode">Dict Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dictName"><span jhiTranslate="emCloudWebApp.meterCategoryInfo.dictName">Dict Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="functionCode"><span jhiTranslate="emCloudWebApp.meterCategoryInfo.functionCode">Function Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="meterFactory"><span jhiTranslate="emCloudWebApp.meterCategoryInfo.meterFactory">Meter Factory</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tel"><span jhiTranslate="emCloudWebApp.meterCategoryInfo.tel">Tel</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startOffset"><span jhiTranslate="emCloudWebApp.meterCategoryInfo.startOffset">Start Offset</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="numberOfRegisters"><span jhiTranslate="emCloudWebApp.meterCategoryInfo.numberOfRegisters">Number Of Registers</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="controlAddress"><span jhiTranslate="emCloudWebApp.meterCategoryInfo.controlAddress">Control Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="emCloudWebApp.meterCategoryInfo.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createTime"><span jhiTranslate="emCloudWebApp.meterCategoryInfo.createTime">Create Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updatedBy"><span jhiTranslate="emCloudWebApp.meterCategoryInfo.updatedBy">Updated By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updateTime"><span jhiTranslate="emCloudWebApp.meterCategoryInfo.updateTime">Update Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="controlCommands"><span jhiTranslate="emCloudWebApp.meterCategoryInfo.controlCommands">Control Commands</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="longCode"><span jhiTranslate="emCloudWebApp.meterCategoryInfo.longCode">Long Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="enable"><span jhiTranslate="emCloudWebApp.meterCategoryInfo.enable">Enable</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let meterCategoryInfo of meterCategoryInfos ;trackBy: trackId">
                <td><a [routerLink]="['../meter-category-info', meterCategoryInfo.id ]">{{meterCategoryInfo.id}}</a></td>
                <td>{{meterCategoryInfo.meterTypeCode}}</td>
                <td>{{meterCategoryInfo.meterType}}</td>
                <td>{{meterCategoryInfo.dictCode}}</td>
                <td>{{meterCategoryInfo.dictName}}</td>
                <td>{{meterCategoryInfo.functionCode}}</td>
                <td>{{meterCategoryInfo.meterFactory}}</td>
                <td>{{meterCategoryInfo.tel}}</td>
                <td>{{meterCategoryInfo.startOffset}}</td>
                <td>{{meterCategoryInfo.numberOfRegisters}}</td>
                <td>{{meterCategoryInfo.controlAddress}}</td>
                <td>{{meterCategoryInfo.createdBy}}</td>
                <td>{{meterCategoryInfo.createTime | date:'medium'}}</td>
                <td>{{meterCategoryInfo.updatedBy}}</td>
                <td>{{meterCategoryInfo.updateTime | date:'medium'}}</td>
                <td>{{meterCategoryInfo.controlCommands}}</td>
                <td>{{meterCategoryInfo.longCode}}</td>
                <td>{{meterCategoryInfo.enable}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../meter-category-info', meterCategoryInfo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'meter-category-info/'+ meterCategoryInfo.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'meter-category-info/'+ meterCategoryInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="meterCategoryInfos && meterCategoryInfos.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
