<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMeterInfoLabel" jhiTranslate="emCloudWebApp.meterInfo.home.createOrEditLabel">Create or edit a Meter Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!meterInfo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="meterInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.meterInfo.meterCode" for="field_meterCode">Meter Code</label>
            <input type="text" class="form-control" name="meterCode" id="field_meterCode"
                [(ngModel)]="meterInfo.meterCode" required maxlength="64" />
            <div [hidden]="!(editForm.controls.meterCode?.dirty && editForm.controls.meterCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.meterCode?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.meterCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 64 }">
                   This field cannot be longer than 64 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.meterInfo.meterName" for="field_meterName">Meter Name</label>
            <input type="text" class="form-control" name="meterName" id="field_meterName"
                [(ngModel)]="meterInfo.meterName" required maxlength="200" />
            <div [hidden]="!(editForm.controls.meterName?.dirty && editForm.controls.meterName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.meterName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.meterName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.meterInfo.registerCode" for="field_registerCode">Register Code</label>
            <input type="number" class="form-control" name="registerCode" id="field_registerCode"
                [(ngModel)]="meterInfo.registerCode" required />
            <div [hidden]="!(editForm.controls.registerCode?.dirty && editForm.controls.registerCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.registerCode?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.registerCode?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.meterInfo.addressCode" for="field_addressCode">Address Code</label>
            <input type="text" class="form-control" name="addressCode" id="field_addressCode"
                [(ngModel)]="meterInfo.addressCode" maxlength="64" />
            <div [hidden]="!(editForm.controls.addressCode?.dirty && editForm.controls.addressCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.addressCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 64 }">
                   This field cannot be longer than 64 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.meterInfo.organizationCode" for="field_organizationCode">Organization Code</label>
            <input type="text" class="form-control" name="organizationCode" id="field_organizationCode"
                [(ngModel)]="meterInfo.organizationCode" maxlength="64" />
            <div [hidden]="!(editForm.controls.organizationCode?.dirty && editForm.controls.organizationCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.organizationCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 64 }">
                   This field cannot be longer than 64 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.meterInfo.companyCode" for="field_companyCode">Company Code</label>
            <input type="text" class="form-control" name="companyCode" id="field_companyCode"
                [(ngModel)]="meterInfo.companyCode" maxlength="64" />
            <div [hidden]="!(editForm.controls.companyCode?.dirty && editForm.controls.companyCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 64 }">
                   This field cannot be longer than 64 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.meterInfo.meterType" for="field_meterType">Meter Type</label>
            <input type="text" class="form-control" name="meterType" id="field_meterType"
                [(ngModel)]="meterInfo.meterType" required maxlength="50" />
            <div [hidden]="!(editForm.controls.meterType?.dirty && editForm.controls.meterType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.meterType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.meterType?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.meterInfo.startOffset" for="field_startOffset">Start Offset</label>
            <input type="number" class="form-control" name="startOffset" id="field_startOffset"
                [(ngModel)]="meterInfo.startOffset"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.meterInfo.numberOfRegisters" for="field_numberOfRegisters">Number Of Registers</label>
            <input type="number" class="form-control" name="numberOfRegisters" id="field_numberOfRegisters"
                [(ngModel)]="meterInfo.numberOfRegisters"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.meterInfo.controlAddress" for="field_controlAddress">Control Address</label>
            <input type="number" class="form-control" name="controlAddress" id="field_controlAddress"
                [(ngModel)]="meterInfo.controlAddress"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.meterInfo.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="meterInfo.createdBy" required maxlength="20" />
            <div [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdBy?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdBy?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.meterInfo.createTime" for="field_createTime">Create Time</label>
            <div class="d-flex">
                <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="meterInfo.createTime"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.createTime?.dirty && editForm.controls.createTime?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createTime?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createTime?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.meterInfo.updatedBy" for="field_updatedBy">Updated By</label>
            <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                [(ngModel)]="meterInfo.updatedBy" required maxlength="20" />
            <div [hidden]="!(editForm.controls.updatedBy?.dirty && editForm.controls.updatedBy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.updatedBy?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.updatedBy?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.meterInfo.updateTime" for="field_updateTime">Update Time</label>
            <div class="d-flex">
                <input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime" [(ngModel)]="meterInfo.updateTime"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.updateTime?.dirty && editForm.controls.updateTime?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.updateTime?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.updateTime?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.meterInfo.controlCommands" for="field_controlCommands">Control Commands</label>
            <input type="text" class="form-control" name="controlCommands" id="field_controlCommands"
                [(ngModel)]="meterInfo.controlCommands" maxlength="100" />
            <div [hidden]="!(editForm.controls.controlCommands?.dirty && editForm.controls.controlCommands?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.controlCommands?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.meterInfo.multiwaySwitchInfo" for="field_multiwaySwitchInfo">Multiway Switch Info</label>
            <select class="form-control" id="field_multiwaySwitchInfo" name="multiwaySwitchInfo" [(ngModel)]="meterInfo.multiwaySwitchInfo">
                <option [ngValue]="null"></option>
                <option [ngValue]="multiwaySwitchInfoOption.id === meterInfo.multiwaySwitchInfo?.id ? meterInfo.multiwaySwitchInfo : multiwaySwitchInfoOption" *ngFor="let multiwaySwitchInfoOption of multiwayswitchinfos; trackBy: trackMultiwaySwitchInfoById">{{multiwaySwitchInfoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="emCloudWebApp.meterInfo.meterCategoryInfo" for="field_meterCategoryInfo">Meter Category Info</label>
            <select class="form-control" id="field_meterCategoryInfo" name="meterCategoryInfo" [(ngModel)]="meterInfo.meterCategoryInfo" >
                <option [ngValue]="null"></option>
                <option [ngValue]="meterCategoryInfoOption.id === meterInfo.meterCategoryInfo?.id ? meterInfo.meterCategoryInfo : meterCategoryInfoOption" *ngFor="let meterCategoryInfoOption of metercategoryinfos; trackBy: trackMeterCategoryInfoById">{{meterCategoryInfoOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
